/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

/* Two-Do Scheme */
$light: #fff;
$dark: #292C44;
$positive: #18CDCA;
$assertive: lighten(#FF5349, 7%);
$calm: lighten(#4F80E1, 2%);
$energized: #F25252;
$balanced: #4881F2;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

h4 {
  padding: 0 8px;
}

.twodo-item {
  border-bottom: none;
}
.list .item.active {
  background-color: $positive !important;
  color: $light;
  border: none;
  font-weight: bold;
}

.twodo-project.item {
  color: lighten(#292C44, 20%);
}

#twodo-list {
  .list {
    display: block;
    .twodo-item {
      color: $calm;
    }
    .twodo-item:first-child {
      display: block;
      white-space: normal;
      font-size: 49px;
      height: auto;
      line-height: 80px;
      border: none;
      color: $assertive;
      font-weight: bold;
      padding-left: 53px;
      padding-right: 15px;
    }
  }
}

#done-list {
  .twodo-item.task-completed {
    text-decoration: line-through;
    color: #DFDFDF;
  }
}
.item.twodo-empty {
  border: none;
}
.twodo-empty {
  h1 {
    color: lighten($calm, 25%);
    text-align: center;
    font-size: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  button, .button {
    display: block;
    margin: 30px auto;
  }
}
.action-sheet .button .twodo-cancel {
  color: #DFDFDF;
}

/* Tutorial */
.twodo-tutorial {
  position: absolute;
  z-index: 1000;
  display: block;
  height: 100%;
  width: 100%;
  background-color: transparent;
  pointer-events: all;

  button, .button {
    pointer-events: all;
    width:  80%;
    margin: 0 auto; 
  }

  .card {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 0 $calm;
    text-align: center;
    padding: 10px 20px;
    box-shadow: none;
    line-height: 26px;
  }
}

/*#tut-project-create .ion-arrow-up-c:before {
  position: relative;
  left: 70px;
}*/

#tut-project-list .card {
  margin-top: 145px;
}

#tut-task-list .card {
  margin-top: 75px;
}

#tut-task-list.extra-space .card {
  margin-top: 122px;
}

#tut-task-create .card {
  margin-top: 66px;
}