<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="lib/ionic/js/angular/angular-animate.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/twodo-list-ctrl.js"></script>
    <script src="js/factories/projects.js"></script>
    <script src="js/factories/settings.js"></script>
  </head>
  <body ng-app="twodo" ng-controller="TwoDoListCtrl">
    <ion-side-menus>
      <!-- Center Content -->
      <ion-side-menu-content>
        <ion-header-bar class="bar bar-header" ng-class="{'bar-assertive': activeProject.tasks.incomplete.length > 0, 'bar-calm': activeProject.tasks.incomplete.length < 1, 'bar-dark': !activeProject}">
          <button id="main-menu-button" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <h1 class="title" ng-bind="activeProject ? 'Two-Do in '+activeProject.title : 'Two-Do'"></h1>
          <button class="button button-icon" ng-click="newTask()" ng-disabled="projects.length < 1">
            <i class="icon ion-compose"></i>
          </button>
        </ion-header-bar>
        <ion-content>
          <button class="button button-clear" ng-click="showAllIncomplete(activeProject)" ng-show="activeProject.tasks.incomplete.length > 2" ng-bind="extendIncomplete ? 'Show Now & Next' : 'Show All Incomplete'"></button>
          <!-- <button class="button button-clear" ng-click="toggleShowReorder()">Change Order</button> -->

          <div class="item-text-wrap twodo-empty tasks done" ng-if="activeProject && activeProject.tasks.incomplete.length == 0 && activeProject.tasks.completed.length > 0" ng-cloak>
            <h1 ng-bind="'You\'ve finished all your tasks! Like a BAWWSS!'"></h1>
          </div>

          <ion-list id="twodo-list">
            <ion-item id="task-{{activeProject.index}}-{{$index}}" data-project-index="{{activeProject.index}}" data-task-index="{{$index}}" ng-repeat="task in activeProject.tasks.incomplete" class="item item-checkbox twodo-item" ng-class="{'ng-hide': !task.visible}" has-details on-hold="showTaskOptions(task)">
              <label class="checkbox" ng-class="{'checkbox-assertive': $index == 0, 'checkbox-calm': $index > 0}" ng-click="toggleTaskCompleted(activeProject, 'incomplete', $index)">
                <input type="checkbox" ng-checked="task.completed">
              </label>
              <span ng-bind="task.title"></span>
              
            </ion-item>
          </ion-list>
          
          <button class="button button-clear" ng-click="toggleHideCompleted()" ng-show="activeProject.tasks.completed.length && activeProject.tasks.incomplete" ng-bind="hideCompleted ? 'Show Completed' : 'Hide Completed'"></button>
          <ion-list id="done-list" ng-show="!hideCompleted && !activeProject.projects.incomplete">
            <ion-item id="task-{{activeProject.index}}-{{$index}}" data-project-index="{{activeProject.index}}" data-task-index="{{$index}}" ng-repeat="task in activeProject.tasks.completed" class="item item-checkbox twodo-item task-completed" has-details on-hold="showTaskOptions(task)">
              <span ng-bind="task.title"></span>
              <label class="checkbox" ng-click="toggleTaskCompleted(activeProject, 'completed', $index)">
                <input type="checkbox" ng-checked="task.completed">
              </label>
            </ion-item>
          </ion-list>

          <div class="item item-text-wrap twodo-empty project" ng-if="!activeProject" ng-cloak>
            <h1 ng-bind="'You haven\'t created any Two-Do lists!'"></h1>
            <button class="button button-block button-calm" ng-click="newProject()">
              <i class="icon ion-plus"></i> Create a List
            </button>
          </div>
          <div class="item item-text-wrap twodo-empty tasks" ng-if="activeProject && !activeProject.tasks.incomplete.length && !activeProject.tasks.completed.length" ng-cloak>
            <h1 ng-bind="'You need something Two-Do!'"></h1>
            <button class="button button-block button-calm" ng-click="newTask()">
              <i class="icon ion-plus"></i> Add a Task
            </button>
          </div>
        </ion-content>
      </ion-side-menu-content>

      <!-- Left Menu -->
      <ion-side-menu side="left" watch-menu="showTutorial" data-primary-condition="!tutorials['project-create']" data-primary-action="project-create" data-secondary-condition data-secondary-action="project-list">
        <ion-header-bar class="bar bar-header bar-calm">
          <h1 class="title" ng-bind="'Two-Do Lists'"></h1>
          <button id="create-project-button" ng-click="newProject()" class="button button-icon">
            <i class="icon ion-compose"></i>
          </button>
        </ion-header-bar>
        <ion-content>
          <ion-list id="twodo-projects">
            <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" class="twodo-project" ng-class="{active: project.index == activeProject.index}" on-hold="showProjectOptions(project)">
              <span ng-bind="project.title"></span>
            </ion-item>
          </ion-list>
      </ion-side-menu>
    </ion-side-menus>
    <div id="tut-intro" class="twodo-tutorial ng-hide">
      hello!
    </div>
    <div id="tut-project-create" class="twodo-tutorial ng-hide">
      <div class="card">
        <i class="icon ion-arrow-up-c" twodo-position-relative-to="create-project-button" data-target="#tut-project-create .icon.ion-arrow-up-c:before"></i>
        <br>
        <p>Click here to create a new list.</p>
      </div>
      <button class="button button-block button-calm" ng-click="closeTutorial('project-create')">Got it!</button>
    </div>

    <div id="tut-project-list" class="twodo-tutorial ng-hide">
      <div class="card">
        <i class="icon ion-arrow-up-c" twodo-position-relative-to="twodo-projects" data-target="#tut-project-list .icon.ion-arrow-up-c:before" data-top-padding="100" data-left-padding="-100"></i>
        <p>Tap and hold the project name to bring up additional options.</p>
      </div>
      <button class="button button-block button-calm" ng-click="closeTutorial('project-list')">Easy Street!</button>
    </div>
    <div id="tut-task-create" class="twodo-tutorial task-create ng-hide">
      <div class="card">
        <p>If you want to enter multiple tasks, click 'Save and Add Another' after adding the details. Otherwise, click 'Save' to just add the one and return to the list.</p>
      </div>
      <div class="item-text-wrap">
        <button class="button button-block button-calm" ng-click="closeTutorial('task-create')">Sweet!</button>
      </div>
    </div>
    <div id="tut-task-list" class="twodo-tutorial task-list ng-hide" ng-class="{'extra-space': activeProject.tasks.incomplete.length > 2}">
      <div class="card">
        &lt;--------------------------&lt;
        <br><br>
        <p>Swipe right-to-left along the task to view details and options.</p>
      </div>
      <button class="button button-block button-calm" ng-click="closeTutorial('task-list')">Awesome!</button>
    </div>
  </body>
</html>
