<div class="modal">
    <!-- Modal Header -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Add a new task</h1>
      <button class="button button-clear button-positive" ng-click="cancelNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal Content Area -->
    <ion-content>
      <form ng-submit="saveTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to get done?" ng-model="task.title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Just to elaborate a little..." ng-model="task.description"></textarea>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block" ng-bind="Edit"></button>
          <button type="submit" class="button button-block" ng-bind="'Delete"></button>
        </div>
      </form>
    </ion-content>
</div>