<div class="modal">
    <!-- Modal Header -->
    <ion-header-bar class="bar-secondary bar-dark">
      <h1 class="title" ng-bind="task && (task.index === 0 || task.index >= 1) ? 'Edit Task' : 'Add a New Task'"></h1>
      <button class="button button-clear" ng-click="cancelNewTask(task)">Cancel</button>
    </ion-header-bar>

    <!-- Modal Content Area -->
    <ion-content>
      <form ng-submit="saveTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to get done?" ng-model="task.title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Elaborate a little..." ng-model="task.description"></textarea>
          </label>
        </div>
        <div class="padding">
          <button type="button" class="button button-block button-calm" ng-click="saveTask(task, true)" ng-disabled="!task.title">Save and Add Another</button>
          <button type="submit" class="button button-block button-positive" ng-disabled="!task.title">Save</button>
        </div>
      </form>
    </ion-content>
</div>