<div class="modal">
    <!-- Modal Header -->
    <ion-header-bar class="bar-secondary bar-dark">
      <h1 class="title">Create a New List</h1>
      <button class="button button-clear" ng-click="cancelNewProject()">Cancel</button>
    </ion-header-bar>

    <!-- Modal Content Area -->
    <ion-content>
      <form ng-submit="createProject(project)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Give your list a name" ng-model="project.title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Elaborate a little..." ng-model="project.description"></textarea>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-calm" ng-disabled="!project.title">Create List</button>
        </div>
      </form>
    </ion-content>
</div>