<div class="modal" modal-slide-closed="taskDetailsModal">
    <!-- Modal Header -->
    <ion-header-bar class="bar" ng-class="{'bar-assertive': !task.completed, 'bar-positive': task.completed}">
      <!--
      <button class="button button-clear">
        <i class="icon ion-chevron-left"></i>
      </button>
      -->
      <h1 class="title">Details</h1>
      <button class="button button-clear button-neutral" ng-click="closeDetails()">Cancel</button>
    </ion-header-bar>

    <!-- Modal Content Area -->
    <ion-content 2do-slide-to-close>

      <div class="card">
        <div class="item item-text-wrap">
          <h2 class="title" ng-bind="task.title"></h1>
          <p ng-bind="task.description"></p>
        </div>
      </div>

      <div class="padding" ng-if="!task.completed">
        <button type="button" class="button button-block button-calm" ng-click="editTask(task)">Edit Task</button>
        <button type="button" class="button button-block button-clear button-assertive" ng-click="deleteTask(task)">Delete Task</button>
      </div>
      <div class="card" ng-if="task.completed">
        <div class="item item-text-wrap">
          <p>Completed tasks can't be edited.</p>
          <!--
          <button type="button" class="button button-clear button-assertive" ng-click="toggleTaskCompleted(activeProject, 'completed', task.index, true)">Mark as Incomplete</button>
          -->
        </div>
      </div>

    </ion-content>
</div>